{% load static %}
{% load django_htmx %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--suppress RequiredAttributes -->
<html lang="fr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/nucleo-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/nucleo-svg.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'loopple/assets/css/theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'loopple/assets/css/loopple/loopple.css' %}"/>
    <title>TiQO</title>
</head>
<body class="g-sidenav-show">

{% include 'tiqo_leftmenu.html' %}

{# C'est ici que se chargera toute les autres pages qui commencent par "extend tiqo_base.html"#}
<div class="main-content" id="panel">
    {% include 'tiqo_navbar.html' %}

    {% block content %}{% endblock content %}
</div>

{% block script %} {% endblock script %}

{#<script src="{% static 'js/fa-42d5adcbca.js' %}"></script>#}
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="{% static 'js/popper.min.js' %}" defer></script>
<script src="{% static 'js/bootstrap.min.js' %}" defer></script>
<script src="{% static 'js/chartjs.min.js' %}" defer></script>
<script src="{% static 'js/Chart.extension.js' %}" defer></script>
<script src="{% static 'js/soft-ui-dashboard.min.js' %}" defer></script>

<script src="{% static 'js/example_chart.js' %}" defer></script>
<script src="{% static 'loopple/assets/js/loopple/loopple.js' %}" defer></script>

<script src="{% static 'js/htmx.min.js' %}" defer></script>
{% django_htmx_script %}
</body>
</html>


