{##}
{#{% load static %}#}
{#{% load tz %}#}
{##}
{#{% block content %}#}
{#    <section class="row">#}
{##}
{#        <!-- membre du collectif -->#}
{#        <div class="col-md-4 m-2 p-2 case rose">#}
{#                <div style="width: 100%; overflow-x: auto;">#}
{#                    {% include 'new_lines/prev_presta_ext.html' with table=data2.prev_caring %}#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-md-4 m-2 p-2 case rose">#}
{#                <div style="width: 100%; overflow-x: auto;">#}
{#                    {% include 'new_lines/prev_presta_ext.html' with table=data2.prev_intern_services %}#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-md-4 m-2 p-2 case rose">#}
{#                <div style="width: 100%; overflow-x: auto;">#}
{#                    {% include 'new_lines/prev_presta_ext.html' with table=data2.prev_ext_serv_purchase %}#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <div class="col-md-4 m-2 p-2 case rose">#}
{#                <div style="width: 100%; overflow-x: auto;">#}
{#                    {% include 'new_lines/prev_presta_ext.html' with table=data2.prev_intern_spendings %}#}
{#            </div>#}
{#        </div>#}
{##}
{#    </section>#}
{##}
{#{% endblock %}#}
