{% load static %}


<head>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<div id="button_reappearing1" style="display: none">
    {% include 'buttons/ajouter_ligne.html' %}
</div>

<div class="container text-left" id="new_line_budget">

    <tr class="case_petite ligne_table">

        <select name="group" style="width: 65px">
            {% for group in groupes %}
            <td>
                    <option value="{{ group.pk }}">{{ group.name }}</option>
            </td>
            {% endfor %}
        </select>

        <td><input type="text" name="amount" style="width: 40px"></td>

        <td><input type="hidden" name="recette" value='{{ recette.pk }}'></td>
        <td><input type="hidden" name="prev_ou_reel" value='{{ prev_ou_reel }}'></td>
        <td>
            <button type="submit"
                    hx-post="/suivi_budg/depenses_recettes5/"
                    hx-include="closest tr"
                    hx-target="closest tr"
                    hx-swap="beforebegin"
            >
                Ajouter
            </button>
        </td>

        <i type="button" class="fa fa-close"
           _="on click hide #new_line_budget then show #button_reappearing1"
           style="font-size:20px;color:red">
        </i>

    </tr>
</div>
