{% extends base_template %}

{% load static %}
{% load tz %}

{% block content %}

<section class="row">
    <!-- Organigramme -->
    <div class="col-md-5 m-2 p-2 case rose">
        {% include 'dashboard/section_generique.html' with titre='Subventions' %}
        <div style="width: 100%; overflow-x: auto;">
            {% include 'dashboard/tableau_generique.html' with table=data.subventions %}
            
        </div>
    </div>
    <div class="col-md-5 m-2 p-2 case orange">
        {% include 'dashboard/section_generique.html' with titre='Référents' %}
        <div style="width: 100%; overflow-x: auto;">
            {% include 'dashboard/tableau_generique.html' with table=data.subventions %}
            
        </div>
    </div>
</section>

{% endblock content %}