<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exemples HTMX</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.5.3.2.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'material-dashboard-master/assets/css/material-dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

</head>
<body class="container">
<p>Version sombre :
    <button class="btn btn-dark btn-sm my-4"
            _="on click toggle .dark-version on body
            then toggle .btn-light on me
            then toggle .btn-dark on me">
        Dark
    </button>
</p>


{% block content %}
{% endblock %}

{% include 'htmx/spinner.html' %}

<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'js/loading-states.js' %}"></script>
<script src="{% static 'js/jquery_3.5.1.js' %}"></script>
<script src="{% static 'js/popper.1.16.0.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.5.3.2.bundle.min.js' %}"></script>
<script src="{% static 'material-dashboard-master/assets/js/material-dashboard.js' %}"></script>
<script src="{% static 'js/hyperscript.0.9.11.min.js' %}"></script>
<script src="{% static 'js/sweetalert2@10.js' %}"></script>

</body>

</html>