{% load my_filters %}

<tr class="case_petite ligne_table" id="edit_{{ prev_cost_ser_data.pk }}">
    <td><input style="width: 45px" type="text" name="titled" value="{{ prev_cost_ser_data.titled }}"></td>
    <td><input style="width: 40px" type="text" name="amount" value="{{ prev_cost_ser_data.amount }}"></td>
    <input type="hidden" name="pk" value="{{ prev_cost_ser_data.pk }}"\>

    <td>
        {% include 'buttons/valid.html' with pk=prev_cost_ser_data.pk %}
    </td>
    <td>
        <i type="submit" class="fa fa-window-close-o" style="font-size:22px;color:red"
        hx-get="/suivi_budg/prevision/{{ prev_cost_ser_data.pk }}/?cancel=true"
        hx-target="closest tr"
        hx-swap="innerHTML"
        ></i>
    </td>
</tr>
