{% load static %}
{% load tz %}

{% block content %}
<div id="button_reappearing" style="display: none ">
    {% include 'buttons/ajouter_ligne.html' %}
</div>

<div class="container text-left" id="new_line_organigramme">
    <form action="/suivi_budg/organizationalchart/" method="POST">
  {% csrf_token %}

        <select name="user" id="users" style="width: 50px">
            <option value="" disabled selected hidden>Nom</option>
            {% for us in user %}
                <option value="{{ us.pk }}">{{ us.name }}</option>
            {% endfor %}
        </select>
            <input id="{{ table.slug }}int_serv" type="checkbox" name="intern_services"/>
            <input id="{{ table.slug }}settlement" type="checkbox" name="settlement_agent"/>
            <input id="{{ table.slug }}budget" type="checkbox" name="budget_referee"/>
        <td class="case_petite case_fonce" style="text-align: center;">
            <input id="{{ table.slug }}planning" type="checkbox" name="task_planning_referee"/>
        </td>
            <input type="submit" value="Ajouter"/>
            <i type="button" class="fa fa-close"
               _="on click hide #new_line_organigramme then show #button_reappearing"
               style="font-size:20px;color:red"></i>


    </form>
    {##}
{#<tr class="case_petite ligne_table">#}
{#    {% for value, colonne in ligne|zip_lists:table.colonnes %}#}
{#        {% if colonne.input %}#}
{#            {% if value == True or value == False %}#}
{#                <!-- Création d'une case à cocher éditable -->#}
{#                <td class="case_petite case_fonce" style="text-align: center;">#}
{#                    <input type="checkbox" {% if value %} checked {% endif %}/>#}
{#                </td>#}
{#            {% else %}#}
{#                <!-- Création d'un champ input pour les autres types de données -->#}
{#                <td><input type="text" value="{{ value }}" class="case_petite case_clair"/>#}
{#                </td>#}
{#            {% endif %}#}
{#        {% elif value == True or value == False %}#}
{#            <!-- Affichage d'une case à cocher non éditable -->#}
{#            <td class="case_petite case_fonce" style="text-align: center;">#}
{#                <input type="checkbox" {% if value %} checked {% endif %} disabled/>#}
{#            </td>#}
{#        {% else %}#}
{#            <!-- Affichage normal pour les autres types de données -->#}
{#            <td>{{ value }}</td>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</tr>#}
</div>

{% endblock content %}
