<!-- Modal -->
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title font-weight-normal" id="exampleModalLabel">{{ contact.nom }}</h5>
            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >

            <form hx-put="/contact/{{ contact.uuid }}/" hx-target="this" hx-swap="outerHTML" hx-ext="loading-states">
                <div class="input-group input-group-lg input-group-outline my-3">
                    <input type="text" class="form-control form-control-lg" value="{{ contact.email | default:"" }}" placeholder="{{ contact.email | default:"email" }}">
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn bg-gradient-primary">Sauvegarder</button>
        </div>
        </form>


    </div>
</div>
