<!DOCTYPE html>
{% load static %}
{% for contact in contacts %}
    <tr>
        <td>
            <div class="d-flex px-2 py-1">
                {# Ici, c'est un peu plus complexe :)#}
                {# j'ai testé un lazy loading avec htmx. #}
                {# Si ça t'intéresse, je t'explique quand tu veux :) #}
                <div hx-get="/lazy_loading_profil_image/{{ contact.uuid }}/" hx-trigger="load">
                    <img alt="Result loading..." class="htmx-indicator avatar avatar-sm me-3" width="150"
                         src="{% static '/img/bars.svg' %}"/>
                </div>

                <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-xs">{{ contact.prenom }} {{ contact.nom }}</h6>
                    <p class="text-xs text-secondary mb-0">{{ contact.email }}</p>
                </div>
            </div>
        </td>
        <td>
            <p class="text-xs font-weight-bold mb-0">{{ contact.structure }}</p>
            <p class="text-xs text-secondary mb-0">{{ contact.role }}</p>
        </td>
        <td class="align-middle text-center text-sm">
            {% for badge in contact.badge.all %}
                <span class="badge badge-sm" style="background: {{ badge.color }}">{{ badge.name }}</span>
            {% endfor %}
        </td>
        <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-normal">{{ contact.adresse }}</span>
        </td>
        <td class="align-middle">
            <a href="" class="text-secondary font-weight-normal text-xs" data-bs-toggle="modal"
               data-bs-target="#exampleModal"
               data-original-title="Edit user">
                Editer
            </a>
        </td>
    </tr>
{% endfor %}