<section class="col-md-8 pl-3">
    <div class="orange px-2 case">
        <create-toggle title="Récapitulatif Budget"></create-toggle>
        <div class="contentToShowHide">
            <div class="row">
                <!-- Dépenses -->
                <div class="col-md-6 p-2">
                    <div id="tableau_recap_depenses" class="h-100 p-0"></div>
                </div>
                <!-- recette -->
                <div class="col-md-6 p-2">
                    <div id="tableau_recap_recettes" class="h-100 p-0"></div>
                </div>
            </div>

        </div>
    </div>
</section>