{% extends base_template %}

{% load static %}
{% load tz %}

{% block content %}
    <!-- suivi budgétaire -->
        <!-- membre + recap -->
        <section class="row">
            <!-- membre du collectif -->
            {% include 'dashboard/suivi_budgetaire/membre_du_collectif.html' %}
            <!-- recap budget -->
            {% include 'dashboard/suivi_budgetaire/recapitulatif_budget.html' %}
        </section>

        <!-- Suivi détaillé -->
        <section>
            {% include 'dashboard/suivi_budgetaire/suivi_detaille.html' %}
        </section>



{% endblock content %}

{% block script %}

{% endblock script %}