<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html lang="fr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <title>Dashboard Raffinerie</title>
</head>

<body>
<p class="parag">Coucou {{ name }}</p>
<div>
    <img src="{% static '/img/logoraffinerie.jpg' %}" alt="Logo Raffinerie" class="" loading="lazy">
</div>

<span>Application : </span>
<ul>
    <li><a href="/suivi_budg/depenses_recettes/">suivi_budgetaire</a></li>
    <li><a href="{% url 'julienjs' %}">julienjs</a></li>
</ul>
<span>Administration de la base de donnée : </span>
<p>(pense à faire un ./manage.py createsuperuser pour créer l'utilisateur admin)</p>
<ul>
    <li><a href="/admin">Admin</a> </li>
</ul>
<span>Pages d'exemples : </span>
<ul>
    <li><a href="{% url 'odoo_contacts' %}">Tableau contact Odoo avec exemple d'édition</a></li>
    <li><a href="{% url 'qonto_transactions_all' %}">Tableau Transactions Qonto avec exemple d'édition</a></li>
    <li><a href="{% url 'odoo_account' %}">Bouton dropdown Account Odoo</a></li>
    <li><a href="{% url 'api_exemple' %}">Api REST</a></li>
</ul>
<script src='{% static "js/main.js" %}' type="javascript"></script>
{% block script %} {% endblock script %}

</body>
</html>