{% load static %}
<!-- Menu Lateral -->

<div class="col case">
    <div class="container-fluid">
        <div class="p-0 vert sidebar case row d-flex">
            <nav class="p-0 vert sidebar case" hx-target="#main" hx-swap="outerHTML" hx-push-url="true">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column" id="sidebarMenu">
                        <li class="nav-item">
                        </li>
                        <!-- D'autres éléments de menu ici -->
                        <li class="nav-item menu-item">
                            <button class="btn m-1 b-0"><i class="bi bi-bar-chart-line"></i><span
                                    class="font-weight-bold"> Tableau de bord</span></button>
                        </li>
                        <li class="nav-item menu-item">
                            <button class="btn m-1 b-0" _="on click toggle .open on the next <ul/>"><i
                                    class="bi bi-currency-euro"></i><span
                                    class="font-weight-bold">Suivi budgétaire</span></button>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <a class="btn m-1 b-0" hx-get="/suivi_budgetaire/"><i class="bi bi-currency-euro"></i><span
                                            class="font-weight-bold">Tableaux budgétaires</span></a>
                                </li>
                                <li class="submenu-item">
                                    <a class="btn m-1 b-0" hx-get="/organigramme/"><i class="bi bi-person-video2"></i><span
                                            class="font-weight-bold">Organigramme</span></a>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-cash-coin"></i><span
                                            class="font-weight-bold"> Suivi subventions</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-piggy-bank"></i><span
                                            class="font-weight-bold sousmenusanslien"> Plan de trésorerie</span>
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item menu-item">
                            <button class="btn m-1 b-0" _="on click toggle .open on the next <ul/>"><i
                                    class="bi bi-file-music"></i><span class="font-weight-bold"> Suivi de projet</span>
                            </button>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-person-video2"></i><span
                                            class="font-weight-bold"> Objectifs indicateurs</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-file-music"></i><span
                                            class="font-weight-bold sousmenusanslien"> Postulations</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-file-music"></i><span
                                            class="font-weight-bold sousmenusanslien"> Tâches</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-file-music"></i><span
                                            class="font-weight-bold sousmenusanslien"> Suivi évenements</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-piggy-bank"></i><span
                                            class="font-weight-bold sousmenusanslien"> Plan de trésorerie</span>
                                    </button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-file-music"></i><span
                                            class="font-weight-bold sousmenusanslien"> Cadre de vie</span></button>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item menu-item">
                            <button class="btn m-1 b-0" _="on click toggle .open on the next <ul/>"><i
                                    class="bi bi-people"></i><span class="font-weight-bold"> Raffineur.euses</span>
                            </button>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-people"></i><span
                                            class="font-weight-bold"> Répertoire</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-list-ol"></i><span
                                            class="font-weight-bold sousmenusanslien"> Suivi volontariat</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-list-ol"></i><span
                                            class="font-weight-bold sousmenusanslien"> Badges</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-list-ol"></i><span
                                            class="font-weight-bold sousmenusanslien"> Le calculateur de bien-être</span>
                                    </button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-currency-euro"></i><span
                                            class="font-weight-bold"> tableau de bord perso</span></button>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item menu-item">
                            <button class="btn m-1 b-0" _="on click toggle .open on the next <ul/>"><i
                                    class="bi bi-book"></i><span class="font-weight-bold"> Boîte à outils</span>
                            </button>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-book"></i><span
                                            class="font-weight-bold sousmenusanslien"> Documentation</span></button>
                                </li>
                                <li class="submenu-item">
                                    <button class="btn m-1 b-0"><i class="bi bi-file-music"></i><span
                                            class="font-weight-bold sousmenusanslien"> outils numériques</span></button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

