<!-- section_generique.html -->
<section>
    <div style="cursor: pointer;" _="on click toggle .d-none on the next .contentToShowHide then toggle .plus on me">
        <span class="plus" _="on load add .d-none to next .contentToShowHide">+</span>
        <span class="minus d-none">-</span>
        {{ titre }}
    </div>
    <div class="contentToShowHide d-none">
        <div id="tableau_content" class="case_clair">
            <!-- Le contenu du tableau sera inclus ici avec la classe 'auto' pour l'ajustement automatique -->
            {% block tableau %}
            <!-- Le contenu spécifique du tableau sera inséré ici -->
            {% endblock tableau %}
        </div>
    </div>
</section>
