<tr class="case_petite ligne_table">
    {% for value, colonne in ligne|zip:table.colonnes %}
    
        {{ colonne.nom }}: {{ colonne.modifiable }}  {# Ajout pour le débogage #}
        {% if forloop.first %}
            {# Si c'est la première colonne, utilisez toujours un champ input #}
            <td><input type="text" value="{{ value }}" class="form-control"/></td>

        {% elif value == True or value == False %}
            {# Si c'est une case à cocher (boolean) #}
            <td class="case_petite case_fonce" style="text-align: center;">
                <input type="checkbox" {% if value %} checked {% endif %}/>
            </td>

        {% else %}
            {# Pour toutes les autres colonnes #}
            <td>{{ value }}</td>
        {% endif %}
    {% endfor %}

    <td class="case_petite case_fonce">
        <button class="btn btn-sm" hx-get="/edit_tableau_generique/{{ table.slug }}/{{ index }}/">
            Save
        </button>
    </td>
</tr>
