<tr class="case_petite ligne_table">

    {% for value in ligne %} {# pour chaque valeur dans la ligne #}

        {% if forloop.first %} {# si c'est la première colonne #}
            <th class="case_petite header-text" style="min-width: 20px;">{{ value }}</th>

        {% elif value == True or value == False %} {# si c'est une case à cocher #}
            <th class="case_petite case_fonce" style="text-align: center;">
                {% if value == True %}<span>X</span>{% else %}<span>-</span>{% endif %}
            </th>

        {% else %} {# si c'est les colonnes suivantes #}
            <td class="case_petite case_fonce">{{ value }}</td>
        {% endif %}

    {% endfor %}

    {% if table.editable %} {# si la table est éditable #}
        <td class="case_petite case_fonce">
            <button class="btn btn-sm" hx-get="/edit_tableau_generique/{{ table.slug }}/{{ index }}/?edit=true">
                Edit
            </button>
        </td>
    {% endif %}

</tr>