{% load static %}
<script src='{% static "js/main.js" %}' type="application/javascript"></script>

{% for nom_table, tableau in data.items %}
    {% include 'dashboard/tableau_generique.html' with table=tableau nom_table=nom_table %}
{% endfor %}


<section class="col-md-4" style="display: flex; align-items: stretch;">
    <div class="p-1 case_clair">
        <div style="cursor: pointer;" _="on click toggle .d-none on the next .contentToShowHide">{{ table.titre }}</div>
        <div class="contentToShowHide">
            <div id="tableau_content" class="h-100" style="margin: 0px;">
                <table class="no-border table-spacing" id="{{ nom_table }}">
                    <thead>
                        <tr>
                            {% for colonne in table.columns %}
                                <th class="header-text">{{ colonne.nom }}</th>
                            {% endfor %}
                        </tr>
                   </thead>

                    <tbody id="{{ table.name_table }}" hx-target="closest tr" hx-swap="outerHTML" {% if table.total %}class="d-none"{% endif %}>
                        {% for line in table.lines %}
                                {% include 'dashboard/tableau_generique_ligne_read.html' with list=table.list_include name_tab=table.name_table true_false=table.true_false%}
                        {% endfor %}
                    </tbody>
                    <tfoot>

                    <tr id="ajout_button">
                        <td colspan="4">
                            <div>
                                {% include 'buttons/ajouter_ligne.html' with tab_name=table.name_table %}
                            </div>
                        </td>
                    </tr>

                    {% if table.total %}
                    <tr class="case_petite total-row">
                        <td style="text-align: right; vertical-align: middle; font-weight: bold; cursor: pointer; min-width: 50px; white-space: nowrap; overflow: visible;"
                            class="header-text"
                            _="on click toggle .d-none on the previous <tbody/>">
                            + Total
                        </td>
                        {% for colonne in table.colonnes %}
                            {% if not forloop.first %}
                                <td class="total-cell case_fonce header-text"
                                    style="text-align: right; vertical-align: middle;"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% else %}
                    <tr class="case_petite total-row">
                        <td class="header-text" style="text-align: right; vertical-align: middle; font-weight: bold; cursor: pointer; min-width: 50px; white-space: nowrap; overflow: visible;">
                        </td>
                        <!-- Plus de cellules si nécessaire -->
                    </tr>
                    {% endif %}
                </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
