.rose {
    background-color: #eb8cac;
}

.jaune {
    background-color: #bfa20f;
}

.orange {
    background-color: #de9e21;
}

.bleu {
    background-color: #4796b9;
}

.vert {
    background-color: #39b1ab;
}

.case {
    font-family: 'Itim', cursive;
    color: white;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 2px;
    width: auto;
    height: 100%;

}

.case_fonce {
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;

}

.case_clair {
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;

}

.case_petite {

    height: 28px;
    border-radius: 10px;
    min-width: 40px;
    max-width: 60px;
    line-height: 0.5em;
    border: none !important;
    outline: none;
    margin: 0 !important;
    padding: 0 !important;
}

.case_petite td {
    max-width: 50px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.case_petite th {
        min-width: 40px;
        max-width: 90px;
    }


input.case_clair, select.case_clair {
    border: none !important;
    box-shadow: none !important;
}

table th {
    font-size: 0.9em;
}

table td {
    max-height: 20px;
    overflow: auto;
}

.table-spacing {
    border-collapse: separate;
    border-spacing: 8px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.table.no-border {
    border-collapse: separate;
    border: 0;
}

.table.no-border td,
.table.no-border th {
    border: none;
    padding: 0;
}

table tr:first-child th {
    text-align: center;
    vertical-align: middle;
    

}

table tr th:first-child {
    text-align: left;
    vertical-align: middle;

}

table tr th:first-child {
    line-height: 1;
}

div[onclick="toggleContent(this)"] {
    cursor: pointer;
}

.esp-col {
    padding-right: 50px; /* Ajustez selon vos besoins */
    padding-left: 50px; /* Ajustez selon vos besoins */
}

.row {
    display: flex;
    align-items: stretch;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  /* Ajustez cette valeur à votre souhait */
}

.custom-column {
    flex: 1;
}

.custom-column-half {
    flex: 0 0 calc(50% - 10px); /* On prend en compte la moitié de l'espace du gap pour chaque colonne */
    box-sizing: border-box;
    padding: 10px; /* Ajustez selon vos besoins */
}