<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html lang="fr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.3-dist/css/bootstrap.css' %}"/>
    <title>Dashboard Raffinerie</title>
</head>
<body>
<p class="parag">Coucou {{ name }}</p>
<div>
    <img src="{% static '/img/logoraffinerie.jpg' %}" alt="Logo Raffinerie" class="" loading="lazy">
</div>

<script src='{% static "js/main.js" %}' type="javascript"></script>
<script src='{% static "bootstrap-5.2.3-dist/js/bootstrap.js" %}' type="javascript"></script>
<script src='{% static "vue/vue.global.js.js" %}' type="javascript"></script>
{% block script %} {% endblock script %}

</body>
</html>




