{% load static %}
<!-- Menu Lateral -->
<div class="col-md-2 px-1">
    <div class="col case">
        <div class="container-fluid">
            <div class="p-0 vert sidebar case row d-flex">
                <nav class="p-0 vert sidebar case">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column" id="sidebarMenu">
                            <li class="nav-item">
                            </li>
                            <!-- D'autres éléments de menu ici -->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

