{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block content %}

    <div class="container-fluid">
    <!-- Menu Lateral et Tableau -->
    <div class="row">
        <!-- Menu Lateral -->
        {% include 'menu_lateral.html' %}

        <!-- suivi budgétaire -->
        <div class="col-md-10">
            <!-- membre + recap -->
            {% include "organigramme/tableau_organigramme.html" %}
        </div>
    </div>



{% endblock content %}

{% block script %}
    <script src='{% static "js/datas.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>

{% endblock script %}